@import 'foundation/variables';

.content-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  & > * {
    h2 {
      text-align: center;
    }
  }
  .rooms-container {
    flex: 500px 2;
    padding: 1rem;
  }
  .news-container {
    flex: 250px 1;
    padding: 1rem;
  }
}