.content-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  & > * {
    padding: 1rem;
    h2 {
      text-align: center;
    }
  }
  .rooms-container {
    flex: 500px 1;
  }
  .news-container {
    flex: 250px 1;
  }
}