.introduction {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    position: relative;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 80%;
    h1 {
      margin: 0 4rem 1rem 0;
      .introduction-content-close {
        font-size: 2rem;
        color: #0008;
        position: absolute;
        top: 0;
        right: .4rem;
        &:hover {
          cursor: pointer;
        }
      }
      & + * {
        text-align: justify;
      }
    }
    
  }
  .switcher {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
    color: white;
    opacity: .4;
    transition: all .3s ease;
    &:hover {
      cursor: pointer;
      opacity: 1;
      background: #fff8;
    }
    &.left {
      left: 0;
      &::before {
        content: '‹';
      }
    }
    &.right {
      right: 0;
      &::after {
        content: '›'
      }
    }
  }
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity .6s ease;
    &.previous {
      opacity: 0;
    }
  }
}