@import 'foundation/variables';

.content-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media all and (orientation: landscape) {
  .content-flex-wrapper {
    .room-prices {
      table {
        margin: 0 auto 1rem;
      }
    }
  }
}