@import '../../foundation/variables';

body {
  height: auto;
}

.authorization {
  font-size: 0;
  margin: 5rem auto;
  width: 80%;
  max-width: 30rem;
  overflow: hidden;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 .2rem $lapis;
  transition: box-shadow .4s ease;
  &:hover {
    box-shadow: 0 0 .5rem $lapis;
  }
  & > * {
    font-size: 1rem;
  }
  .form-switcher {
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    color: $lapis;
    &:not(.active):hover {
      cursor: pointer;
    }
  }
  .form-switcher-underline {
    width: 50%;
    height: .2rem;
    background: $lapis;
    transition: transform .4s ease;
    &.right {
      transform: translateX(100%);
    }
  }
  &-main {
    width: 200%;
    transition: transform .4s ease;
    font-size: 0;
    &.right {
      transform: translateX(-50%);
    }
    & > * {
      font-size: 1rem;
    }
    form {
      display: inline-block;
      width: 50%;
      text-align: right;
      padding: .5rem 5%;
      & > * {
        font-family: pangolin;
        font-size: 1rem;
        color: $lapis;
      }
      .keyboard-input {
        display: block;
        width: 100%;
        text-align: center;
        margin: .5rem 0;
        border-bottom: .1rem solid $lapis;
        padding: .25rem .5rem;
        &::placeholder {
          opacity: 1;
        }
      }
      label {
        display: block;
        margin: 1rem 0;
        text-align: left;
        &:hover {
          cursor: pointer;
        }
        input {
          display: none;
        }
        .checkbox {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: .2rem;
          width: 1.2rem;
          height: 1.2rem;
          vertical-align: top;
          color: white;
          border: .1rem solid $lapis;
          &.checked {
            background: $lapis;
          }
        }
      }
      input[type="submit"] {
        display: inline-block;
        float: right;
        border-bottom: .1rem solid $lapis;
        padding: .25rem .5rem;
        transition: background .3s ease, color .3s ease;
        &:hover {
          cursor: pointer;
          background: $lapis;
          color: white;
        }
      }
    }
  }
}