.anonymous-announcement {
  background: rgba(#ffd800, .5);
  padding: .25rem .5rem;
  margin: 1rem 1rem 0;
  display: flex;
  align-items: center;

  p {
    flex: 1;
    color: black;
  }

  button {
    font-size: 1.25rem;
    padding: .25rem .5rem .25rem 1rem;
    color: gray;

    svg {
      width: 1.25rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}