@import "../foundation/variables";

.switcher {
  position: absolute;
  top: calc(50% - 2rem);
  width: clamp(2rem, 10%, 4rem);
  height: 4rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 350%;
  font-family: sans-serif;
  color: $lapis;
  background: white;
  opacity: .6;
  transition: all .3s ease;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &.left {
    left: 0;
    padding-right: .5rem;
  }
  &.right {
    right: 0;
    padding-left: .5rem;
  }
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: opacity .6s ease;
  &.previous {
    opacity: 0;
    z-index: -2;
  }
}