@import '../foundation/variables';

.book-room {
  flex: 500px 1;

  h2 {
    text-align: center;
  }

  &-error {
    text-align: center;
    margin: .5rem 0;
    font-size: 1.1rem;
    color: $errorred;
  }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .date-submit, .input-date {
      border: .2rem solid $lapis;
      border-radius: 1rem;
      padding: 0 .5rem;
      margin: .5rem;
    }

    .date-submit {
      font-size: 1rem;
      font-family: inherit;
      color: $lapis;
      transition: all .3s ease;

      &:hover {
        cursor: pointer;
        background: $lapis;
        color: white;
      }
    }
  }
}

.room-prices {
  flex: 250px 1;

  h2 {
    text-align: center;
  }

  &-null {
    text-align: center;
    color: gray;
    padding: .25rem 1rem;
  }

  &-table {
    margin: 0 auto;
    border-collapse: collapse;

    th, td {
      padding: .25rem .5rem;
      text-align: center;
      vertical-align: middle;
      border: .2rem solid $lapis;
    }

    th {
      background: $lapis;
      color: white;
    }

    td {
      &:last-child::after {
        content: ' ₽';
      }
    }
  }
}