@import "../foundation/mixins";

.no-changing-background,
.changing-background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat-x;
  background-size: var(--background-size);
  border-radius: 1rem;
  transition: background-size .3s ease;

  &:hover {
    background-size: var(--hover-background-size);
  }
}

.changing-background {
  animation-iteration-count: infinite;
}

.changing-background-caption {
  font-size: 1.25em;
  text-align: center;
  animation: changeOpacity ease infinite;
}

@include changeOpacity;