@import "../foundation/variables";

.calendar {
  position: absolute;
  background: white;
  box-shadow: 0 0 .15rem $lapis;
  border-radius: 1rem;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: 0 0 .5rem $lapis;
  }

  &-control-panel {
    display: flex;
    align-items: center;
    padding: .25rem;

    &-paragraph, &-choose-year {
      flex: 1;
      font-size: 1.25rem;
      text-align: center;
    }

    &-choose-year,
    &-info,
    &-close {
      font-family: defaultFont;
    }

    &-paragraph {
      color: grey;
    }

    &-choose-year {
      color: $lapis;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-close {
      color: $pinkred;
      font-size: 1.2rem;
      width: 1.2rem;
      opacity: .4;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    &-info {
      color: $lapis;
      font-size: 1.2rem;
      width: 1.2rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-previous,
    &-next {
      padding: 0 .5rem;
      font-size: 1.5rem;
      font-family: defaultFont;

      &:not(.disabled) {
        color: $lapis;
        transition: all .3s ease;

        &:hover {
          cursor: pointer;
          background: $lapis;
          color: white;
        }
      }

      &.disabled {
        color: grey;
      }

      &:first-of-type {
        border-radius: 0 .5rem .5rem 0;
        padding-left: .25rem;
      }

      &:last-of-type {
        border-radius: .5rem 0 0 .5rem;
        padding-right: .25rem;
      }
    }
  }

  .day-brick {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    &.day-of-week {
      color: #00fa;
    } 

    &.other-month, &.unavailable {
      color: grey;
    }

    &.other-month {
      opacity: .33;
    }

    &.booked {
      color: $pinkred;
    }

    &.chosen {
      color: white;
      background: $lapis;
    }
  }

  &-body {
    display: grid;
    padding: .5rem;
    grid-template-columns: repeat(7, 2rem);
    grid-auto-rows: 1.5rem;

    .day-brick.available:hover {
      background: $lapis;
      color: white;
      cursor: pointer;
    }
  }

  &-info {
    display: none;
    padding: .5rem;

    &-day-bricks,
    &-paragraph {
      text-align: center;
    }

    &-paragraph {
      padding: .25rem;
    }

    &-day-bricks {
      display: flex;
      flex-wrap: wrap;

      .day-brick {
        flex: 10% 1;
      }

      &-paragraph {
        flex: 90% 10;
      }
    }
  }

  &.info-shown {
    width: 15rem;

    .calendar-header,
    .calendar-body {
      display: none;
    }

    .calendar-info {
      display: block;
    }
  }
}

.input-date {
  border: .2rem solid $lapis;
  border-radius: 1rem;
  padding: 0 .5rem;
  margin: .5rem;

  .fa-caret-up, .fa-caret-down {
    position: relative;
    top: .125rem;
    margin: 0 0 0 .3rem;
    font-size: 1.25rem;
    transition: transform .3s ease;
  }

  &.clickable {
    &:hover {
      cursor: pointer;
    }
  }

  &.turned {
    .fa-caret-down {
      transform: rotateZ(180deg);
    }
  }
}

@media (orientation: portrait), (min-aspect-ratio: 21/9) {
  .calendar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0006;
    transition: all .3s ease;

    .calendar {
      position: static;
      transform: none;
      max-height: 80%;
    }
  }
}