@import "../foundation/variables";

.conversation {
  flex: 1 500px;
  margin: 1rem;
  height: 6rem;
  width: 100%;
  background: #3691;
  overflow-x: hidden;
  &:not(.opened) {
    &:hover {
      cursor: pointer;
      background: #3692;
    }
  }
  &.opened {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: 1.25rem;
    left: -1rem;
    width: 100%;
    height: calc(100vh - 2.25rem);
    background: white;
    z-index: 1;

    .conversation-header {
      flex: 0 2rem;
    }

    .conversation-send {
      display: flex;
      width: 100%;
      & > * {
        margin: .5rem;
      }
      &-textarea {
        flex: 1;
        resize: none;
        overflow: auto;
        padding: .25rem .5rem;
        border-radius: 1rem;
        color: $lapis;
        font-size: 1rem;
        font-family: inherit;
        font-weight: 400;
        background-color: #f1f1f1;
        min-height: 3rem;
        max-height: 8rem;
        transition: height .3s ease;
      }
      &-submit {
        svg {
          color: $lapis;
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.5rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-content {
    flex: 1 4rem;
    padding: 0 1rem;
    color: $lightblue;
    overflow-y: auto;
    overflow-x: hidden;

    &-author {
      display: inline-block;
      margin-right: .4em;
      color: $lapis;
    }

    &-null,
    &-new {
      color: grey;
      text-align: center;
    }

    &-author {
      font-weight: 700;
      margin: 0 0 .2rem .25rem;
    }

    &-message {
      margin: .1rem .5rem;
      width: 100%;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $lapis;
    color: white;
    width: 100%;
    height: 2rem;
    padding: 0 .5rem 0 2rem;
    button {
      width: 1.5rem;
      font-size: 1.5rem;
      color: white;
      transform: translateX(120%);
      transition: transform .3s ease;
      &:hover {
        cursor: pointer;
      }
      &.opened {
        transform: none;
      }
    }
  }

  &-last {
    display: flex;
    align-items: center;
    height: 4rem;
    &-message {
      flex: 1;
      padding: 0 0 0 1rem;
      color: $lightblue;
      overflow: auto;
      &-author {
        display: inline-block;
        margin-right: .4em;
        color: $lapis;
      }
      &-null {
        color: grey;
      }
    }

    &-counter {
      background: $lapis;
      border-radius: 1rem;
      padding: .15rem .5rem;
      margin: 0 .5rem;
      height: 1.5rem;
      text-align: center;
      color: white;
    }
  }

}