@import "../foundation/variables";

.conversation {
  flex: 1 500px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 6rem;
  width: 100%;
  background: #3691;
  overflow-x: hidden;
  transition: all .3s ease;
  &:not(.opened):hover {
    cursor: pointer;
    background: #3692;
  }
  &.opened {
    position: fixed;
    top: 1.25rem;
    left: -1rem;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 1;
    &-content {
      flex: 1;
      max-height: 100%;
    }
  }
  &-header,
  &:not(.opened) &-content {
    display: flex;
    align-items: center;
  }
  &-header {
    justify-content: space-between;
    background: $lapis;
    color: white;
    flex: 0 2rem;
    padding: 0 .5rem 0 2rem;
    button {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
      color: white;
      transform: translateX(120%);
      transition: transform .3s ease;
      &:hover {
        cursor: pointer;
      }
      &.opened {
        transform: none;
      }
    }
  }
  &-content {
    flex: 1 4rem;
    padding: 0 1rem;
    color: $lightblue;
    overflow: auto;
    &-author {
      display: inline-block;
      margin-right: .4em;
      color: $lapis;
    }
    &-null {
      color: grey;
    }
  }
}