@import "../foundation/variables";

.confirmation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
  background: rgba(black, .4);

  .confirmation {
    margin: 3rem auto;
    max-width: 80%;
    width: 30rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 .1rem gray;
    text-align: right;

    &-close,
    &-content-button {
      &:active {
        transform: scale(.9);
      }
    }

    &-close {
      display: inline-block;
      margin: .5rem .5rem 0 0;
      color: gray;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
      }

      .svg-inline--fa {
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      padding: 0 1rem 1rem;
      text-align: center;

      &-button {
        display: inline-block;
        padding: .15rem .4rem;
        margin: .5rem .5rem 0;
        color: var(--color);
        font-family: defaultFont;
        font-size: 1rem;
        border: .2rem solid var(--color);
        border-radius: .5rem;
        transition: color .3s ease, background-color .3s ease;

        &.no {
          --color: $errorred;
        }

        &.maybe {
          --color: $yellowbus;
        }

        &.yes {
          --color: $green;
        }

        &:hover {
          cursor: pointer;
          color: white;
          background-color: var(--color);
        }
      }
    }
  }
}

.conversation {
  flex: 1 500px;
  margin: 1rem;
  height: 6rem;
  width: 100%;
  background: #3691;
  overflow-x: hidden;

  &:not(.opened) {
    &:hover {
      cursor: pointer;
      background: #3692;
    }
  }

  &.opened {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: 1.25rem;
    left: -1rem;
    width: 100%;
    height: calc(100vh - 2.25rem);
    background: white;
    z-index: 1;

    .conversation-header {
      flex: 0 2rem;
    }

    .conversation-send {
      display: flex;
      width: 100%;

      &-textarea,
      &-submit {
        margin: .5rem;
      }

      &-textarea {
        flex: 1;
        resize: none;
        overflow: auto;
        padding: .25rem .5rem;
        border-radius: 1rem;
        color: $lapis;
        font-size: 1rem;
        font-family: inherit;
        font-weight: 400;
        background-color: #f1f1f1;
        min-height: 3rem;
        max-height: 8rem;
        transition: height .3s ease;
      }

      &-submit {
        &:hover {
          cursor: pointer;
        }

        .svg-inline--fa {
          color: $lapis;
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  &-content {
    flex: 1 4rem;
    padding: 0 1rem;
    color: $lightblue;
    overflow-y: auto;
    overflow-x: hidden;

    &-author {
      display: inline-block;
      margin-right: .4em;
      color: $lapis;
    }

    &-null,
    &-new {
      color: grey;
      text-align: center;
    }

    &-author {
      font-weight: 700;
      margin: 0 0 .2rem .25rem;
    }

    &-message {
      margin: .1rem .5rem;
      width: 100%;

      &.booking {
        border-radius: .5rem;
        overflow: hidden;
        width: 20rem;
        max-width: 100%;
        background: #3692;

        .booking-header {
          padding: .25rem .5rem;
          text-align: center;
          color: white;

          &.pending {
            background: $yellowbus;
          }

          &.accepted {
            background: $green;
          }

          &.rejected {
            background: $errorred;
          }
        }

        .booking-main {
          &-paragraph {
            margin: .5rem;
          }
        }

        .booking-footer {
          display: flex;
          justify-content: center;

          &-button {
            margin: .5rem;
            font-size: 1rem;
            font-family: inherit;
            padding: .25rem .5rem;
            border-width: .1rem;
            border-style: solid;
            border-radius: .5rem;

            &:first-child {
              border-color: $errorred;
              color: $errorred;
              transition: background-color .3s ease, color .3s ease;

              &:hover {
                cursor: pointer;
                color: white;
                background-color: $errorred;
              }
            }

            &:last-child {
              border-color: $green;
              color: $green;
              transition: background-color .3s ease, color .3s ease;

              &:hover {
                cursor: pointer;
                color: white;
                background-color: $green;
              }
            }
          }
        }
      }

      .svg-inline--fa {
        margin-left: .4rem;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $lapis;
    color: white;
    width: 100%;
    height: 2rem;
    padding: 0 .5rem 0 2rem;

    &-button {
      width: 1.5rem;
      font-size: 1.5rem;
      color: white;
      transform: translateX(120%);
      transition: transform .3s ease;

      &:hover {
        cursor: pointer;
      }

      &.opened {
        transform: none;
      }
    }
  }

  &-last {
    display: flex;
    align-items: center;
    height: 4rem;

    &-message {
      flex: 1;
      padding: 0 0 0 1rem;
      color: $lightblue;
      overflow: auto;

      &-author {
        display: inline-block;
        margin-right: .4em;
        color: $lapis;
      }

      &-booking {
        &.pending {
          color: $yellowbus;
        }

        &.accepted {
          color: $green;
        }

        &.rejected {
          color: $errorred;
        }
      }

      &-null {
        color: grey;
      }
    }

    &-counter {
      background: $lapis;
      border-radius: 1rem;
      padding: .15rem .5rem;
      margin: 0 .5rem;
      height: 1.5rem;
      text-align: center;
      color: white;
    }
  }
}
