@import '../foundation/variables';

footer {
  background-color: $lapis;
  color: white;

  .footer-ads {
    padding: 1rem;

    p {
      margin: .25rem 0;

      svg, .icon {
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.25rem;
        margin-right: .5rem;
        vertical-align: bottom;
      }

      .icon {
        display: inline-block;
      }

      a {
        &:active,
        &:link,
        &:visited {
          color: white;
        }
      }
    }
  }

  .footer-waves {
    position: relative;
    height: 5rem;
    .wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background-image: url('/images/wave.svg');
      background-repeat: repeat-x;
      background-size: contain;
      animation-name: move;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      &:first-child {
        animation-duration: 8s;
        animation-direction: alternate;
        opacity: 1;
      }

      &:nth-child(2) {
        animation-duration: 10s;
        animation-direction: alternate-reverse;
        opacity: .8;
      }

      &:nth-child(3) {
        animation-duration: 12s;
        animation-direction: alternate;
        opacity: .6;
      }
    }
  }
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}