@import '../foundation/variables';

#header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 10%;
  width: 80%;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  align-items: center;
  background: $lapis;
  border-radius: 0 0 1rem 1rem;
  transition: transform .3s ease;
  &.hidden {
    transform: translateY(-100%);
  }
  &::before {
    content: '';
    grid-column: 2 / 3;
  }
  & > * {
    padding: .5rem 1rem;
    background: transparent;
    text-decoration: none;
    color: white;
    transition: transform .3s ease;
    &:hover {
      transform: scale(1.1);
    }
    &:first-child {
      font-style: italic;
      text-transform: uppercase;
      & > * {
        text-align: center;
        transition: opacity .3s ease;
        &:last-child {
          opacity: 0;
          position: relative;
          top: -1.325em;
          margin-bottom: -1.325em;
        }
      }
      &:hover {
        *:nth-child(2) {
          opacity: 0;
          & + * {
            opacity: 1;
          }
        }
      }
    }
  }
}