@import '../foundation/variables';

header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: height .3s .4s ease, width .3s .1s ease, box-shadow .3s ease;
  background: white;
  width: 5rem;
  height: 2.25rem;
  box-shadow: 0 0 .2rem $lapis;

  &.opened {
    width: 100%;
    height: 7rem;
    transition: height .3s .1s ease, width .3s .4s ease, box-shadow .3s ease;
    box-shadow: 0 0 .33rem .2rem $lapis;

    &:hover {
      box-shadow: 0 0 1rem .2rem $lapis;
      cursor: default;
    }
  }

  &:hover {
    box-shadow: 0 0 .5rem .2rem $lapis;
    cursor: pointer;
  }

  button {
    font-family: pangolin;
    position: fixed;
    transition: transform .3s .6s ease;
    color: $lapis;

    &:hover {
      cursor: pointer;
    }

    &.hidden {
      transition: transform .3s ease;
    }

    &:first-child {
      font-size: 1rem;
      left: .5rem;
      top: .5rem;

      &.hidden {
        transform: translateX(-200%);
      }

      svg {
        width: 1rem;
      }
    }

    &:nth-child(2) {
      right: 0;
      padding: 0 .5rem;

      &.hidden {
        transform: translateX(200%);
      }
    }

    .fa-bars {
      margin-right: .4rem;
    }

    .fa-times {
      font-size: 2rem;
    }
  }

  #header {
    width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-user-management,
    .header-villa-info {
      flex: 1;
      display: flex;
    }

    .header-user-management {
      justify-content: flex-end;
    }

    a {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: .25rem .5rem;

      &:active,
      &:link,
      &:visited {
        color: inherit;
      }

      &:not(.header-logo) {
        position: relative;
        overflow: hidden;

        .svg-inline--fa {
          margin-right: .4rem;
        }

        &:hover .underline {
          transform: none;

          p {
            transform: none;
          }
        }

        .underline {
          position: absolute;
          overflow: hidden;
          padding: .25rem .5rem;
          top: 0;
          left: 0;
          width: 100%;
          background: $lapis;
          transform: translateY(95%);
          transition: transform .4s ease;

          p {
            color: white;
            transform: translateY(calc(-95% - .5rem));
            transition: transform .4s ease;
          }
        }
      }
    }
    .header-logo {
      color: inherit;
      height: 100%;
      margin: 0 1rem 0 0;

      * {
        color: inherit;
      }

      svg {
        vertical-align: top;
        display: inline-block;
        transform: translate(.5rem, .5rem);
        transition: transform .3s ease;
      }

      &-main {
        display: inline-block;
        font-family: Sail;
        font-size: 500%;
        height: 75%;
      }

      p {
        text-align: right;
        height: 25%;
      }

      &:hover svg {
        transform: 
          translate(.5rem, .5rem)
          scale(1.5);
      }
    }
  }
}

@media (orientation: portrait) {
  header {
    &.opened {
      height: 15rem;
    }

    #header {
      min-height: 10rem;
      height: 100%;
      flex-direction: column;
      align-items: stretch;

      .underline {
        display: none;
      }

      .header-logo {
        flex: 0;
        order: 1;
        margin: 0;

        p {
          display: none;
        }
      }

      .header-villa-info,
      .header-user-management {
        justify-content: space-between;
        flex-direction: column;
        flex: 0;
      }

      .header-villa-info {
        order: 2;
      }
      
      .header-user-management {
        order: 3;
      }
    }
  }
}