@import '../foundation/variables';

$transparentWhite: rgba(white, .9);

.introduction {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  animation: moveBackground 5s steps(1, end) 0s infinite alternate;

  &-content {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 0;
    background-color: white;
    animation: changeBackgroundOpacity 5s linear 0s infinite;

    & > h1, & > h2 {
      text-align: center;
      background-color: $transparentWhite;
    }

    h1 {
      border-radius: 1rem 1rem 0 0;
    }

    &-list {
      background-color: $transparentWhite;
      border-radius: 0 0 1rem 1rem;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;

        li {
          display: flex;
          align-items: center;
          margin: 1rem;
          flex: 12rem 1 1;
          max-width: 20rem;

          .emoji {
            font-family: emoji;

            &:first-child {
              flex-basis: 5rem;
              font-size: 4rem;
            }
          }
        }
      }
    }
  }

  &-phone {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: $transparentWhite;

    &-caption {
      display: inline-block;
      max-width: 40rem;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;

      &-figure {
        position: relative;
        margin: .25rem 1rem;
        width: 1.25rem;
        height: 1.25rem;
        overflow: show;

        & > * {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 1.25rem;
        }

        &-circle {
          border-radius: .7rem;
          border: .05rem solid $lapis;
          animation-name: dropsOnWater;
          animation-duration: 2s;
          animation-timing-function: ease;
          animation-iteration-count: infinite;
          animation-fill-mode: backwards;

          &:first-child {
            animation-delay: .4s;
          }
        }

        svg {
          animation: phoneWiggle 2s ease infinite;
        }
      }
    }

    a {
      color: $lapis;

      &:hover,
      &:link,
      &:active,
      &:visited {
        color: $lapis;
      }
    }
  }
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  } 10% {
    background-position: 20% 20%;
  } 20% {
    background-position: 20% 20%;
  } 30% {
    background-position: 40% 40%;
  } 40% {
    background-position: 40% 40%;
  } 50% {
    background-position: 60% 60%;
  } 60% {
    background-position: 60% 60%;
  } 70% {
    background-position: 80% 80%;
  } 80% {
    background-position: 80% 80%;
  } 90% {
    background-position: 100% 100%;
  } to {
    background-position: 100% 100%;
  }
}

@keyframes changeBackgroundOpacity {
  from {
    background-color: white;
  } 10% {
    background-color: transparent;
  } 90% {
    background-color: transparent;
  } to {
    background-color: white;
  }
}

@keyframes dropsOnWater {
  from {
    opacity: 0;
    transform: scale(.5);
  } 30% {
    opacity: 0;
    transform: scale(.5);
  } 40% {
    opacity: 1;
    transform: scale(2.25);
  } to {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes phoneWiggle {
  20% {
    transform: none;
  } 30% {
    transform: scale(1.25) rotateZ(15deg);
  } 35% {
    transform: scale(1.25) rotateZ(-15deg);
  } 40% {
    transform: scale(1.25) rotateZ(15deg);
  } 45% {
    transform: scale(1.25) rotateZ(-15deg);
  } 50% {
    transform: scale(1.25) rotateZ(15deg);
  } 55% {
    transform: scale(1.25) rotateZ(-15deg);
  } 60% {
    transform: scale(1.25) rotateZ(15deg);
  } 65% {
    transform: scale(1.25) rotateZ(-15deg);
  }
}