@import '../foundation/index';

@include reset-all;

@font-face {
  font-family: defaultFont;
  font-weight: 400;
  src: url('/fonts/ElMessiri-Regular.ttf');
}

@font-face {
  font-family: defaultFont;
  font-weight: 700;
  src: url('/fonts/ElMessiri-Bold.ttf');
}

@font-face {
  font-family: handwritingFont;
  src: url('/fonts/Sacramento-Regular.ttf');
}

@font-face {
  font-family: emoji;
  src: url('/fonts/NotoColorEmoji.ttf');
}

html {
  font-size: calc(2vh + .5vw);
  font-family: defaultFont;
  color: $lapis;
  overflow-x: hidden;
}

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
/* ------------------------------ SLIDEOUT.JS STYLES START ------------------------------- */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
/* ---------------------------- SLIDEOUT.JS STYLES END ----------------------------------- */
/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */

.big {
  font-size: 1.5em;
}

.humiliated {
  font-size: .5em;
}

.invisible {
  opacity: 0;
}

.a {
  &:hover {
    text-decoration: none;
  }
}

.svg-inline--fa {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  vertical-align: middle;
}



.aside-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 7rem;
  height: 2.2rem;
  z-index: 2;
  transition: width .3s ease;
  overflow: hidden;
  border-radius: 0 0 1rem 0;
  background-color: white;
  border-style: solid;
  border-width: 0 .1rem .1rem 0;
  border-color: $lapis;

  &.opened {
    width: 2.8rem;

    .aside-toggle-bars .aside-toggle-bars-bar{
      &:nth-child(1) {
        transform: translateY(.625rem) rotateZ(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-.625rem) rotateZ(-45deg);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  .contents {
    width: 7rem;
    height: 100%;
    padding: .3rem .5rem;
    font-size: 0;
    
    .aside-toggle-bars,
    .aside-toggle-caption {
      font-size: 1.25rem;
    }

    .aside-toggle-bars {
      width: 25%;
      height: 100%;
      display: inline-flex;
      vertical-align: top;
      flex-direction: column;
      justify-content: space-between;

      &-bar {
        width: 1.5rem;
        height: .25rem;
        border-radius: .1rem;
        background-color: $lapis;

        &:nth-child(1) {
          transition: transform .3s ease;
          transform-origin: 50% 50%;
        }

        &:nth-child(2) {
          transition: opacity .3s ease;
        }

        &:nth-child(3) {
          transition: transform .3s ease;
          transform-origin: 50% 50%;
        }
      }
    }

    .aside-toggle-caption {
      display: inline-block;
      width: 75%;
      height: 100%;
      font-family: defaultFont;
      color: $lapis;
    }
  }
}

aside {
  nav {
    font-size: 1.4rem;

    a {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: .1rem .5rem;

      &:active,
      &:link,
      &:visited {
        color: inherit;
      }

      &:not(.aside-logo) {
        border-left-width: .2rem;
        border-left-style: solid;
        border-left-color: transparent;

        svg {
          margin-right: .4rem;
        }

        &:hover {
          border-left-color: $lapis;
        }
      }

      svg {
        vertical-align: middle;
      }
    }

    .aside-logo {
      color: inherit;
      width: 100%;
      height: 7em;
      margin: 0 1rem 0 0;

      * {
        color: inherit;
      }

      svg {
        vertical-align: top;
        display: inline-block;
        transform: translate(.5rem, .5rem);
        transition: transform .3s ease;
      }

      &-main {
        display: inline-block;
        font-family: handwritingFont;
        font-size: 4.5em;
        height: 70%;
        transform: translateX(-.5rem);
      }

      p {
        text-align: center;
        font-size: 1em;
        height: 30%;
      }

      &:hover svg {
        transform: translate(.5rem, .5rem) scale(1.5);
      }
    }
  }
}

footer {
  background-color: $lapis;
  color: white;
  overflow: hidden;

  .footer-logo {
    font-size: 4rem;
    text-align: center;
    font-family: handwritingFont;
    margin: .25em 0 0 -.25em;
  }

  .footer-adwords {
    &-paragraph {
      text-align: center;

      .a {
        display: inline-block;
        font-size: 1.25em;
        margin: .25rem 1rem;
        color: white;

        &:link,
        &:visited,
        &:hover,
        &:active {
          color: white;
        }

        .svg-inline--fa {
          width: 1.125em;
          height: 1.125em;
          font-size: 1.125em;
          vertical-align: middle;
          margin-right: .3rem;

          &.fa-phone {
            width: 1em;
            height: 1em;
            font-size: 1em;
          }
        }
      }
    }
  }
  
  .footer-waves {
    position: relative;
    height: 5rem;
    .wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background-image: url('/images/wave.svg');
      background-repeat: repeat-x;
      background-size: contain;
      animation-name: move;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      &:first-child {
        animation-duration: 8s;
        animation-direction: alternate;
        opacity: 1;
      }

      &:nth-child(2) {
        animation-duration: 10s;
        animation-direction: alternate-reverse;
        opacity: .8;
      }

      &:nth-child(3) {
        animation-duration: 12s;
        animation-direction: alternate;
        opacity: .6;
      }
    }
  }
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}

@media all and (orientation: landscape) {
  html {
    font-size: calc(1vw + 1vh);
  }

  aside nav {
    font-size: 1rem;
  }
}