@import '../foundation/variables';

.loader {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &-item {
    background: $lapis;
    margin: .25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation-name: wiggle;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}

@keyframes wiggle {
  33.333% {
    transform: translateY(-200%);
  } 66.666% {
    transform: translateY(200%);
  }
}