@import '../foundation/variables';

.rooms-container {
  display: flex;
  flex-wrap: wrap;
  h2 {
    flex: 100%;
    margin: .25rem;
  }
  .room {
    flex: 200px 1;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 0 0 .3rem #0008;
    transition: box-shadow .3s ease;
    h3 {
      text-align: center;
      padding: .25rem;
    }
    &-photos-wrapper {
      position: relative;
      overflow: hidden;
      height: 15rem;
    }
    &-description {
      text-align: center;
      color: $lapis;
      padding: .5rem;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-link {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      padding: .5rem 1rem;
      background: $lapis;
      transition: background .3s ease;
      &:hover {
        background: darkblue;
      }
    }
    &:hover {
      box-shadow: 0 0 1rem #0008;
    }
  }
}