@import "../../foundation/variables";

.conversations {
  width: 100vw;
  height: 100vh;
  padding-top: 2.25rem;
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lapis;
    box-shadow: 0 0 .33rem $lapis;
  }
  &-content {
    max-height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-null {
      padding: 1rem 0 0;
      color: gray;
    }
  }
}